@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<h1>Todos los Roles</h1>

<a asp-action="Create" class="btn btn-secondary">Crear rol</a>

<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Usuarios</th>
        <th>Actualizar</th>
        <th>Borrar</th>
    </tr>
    @foreach (var rol in Model)
    {
        <tr>
            <td>@rol.Id</td>
            <td>@rol.Name</td>
            <td i-rol="@rol.Id"></td>
            <td><a asp-action="Update" asp-route-id="@rol.Id" class="btn btn-primary">Actualizar</a></td>
            <td>
                <form asp-action="Delete" method="post" asp-route-id="@rol.Id">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    }
</table>
