@using SCAME.Controllers;
@model EdicionRol
<h1>Actualizar Rol</h1>

<a asp-action="Index" class="btn btn-secondary">Regresar</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <input type="hidden" name="RolName" value="@Model.Rol.Name" />
    <input type="hidden" name="RolId" value="@Model.Rol.Id" />

    <h2>Añadir a @Model.Rol.Name</h2>
    <table class="table table-sm table-bordered">
        @foreach (var usuario in Model.NoMiembros)
        {
            <tr>
                <td>@usuario.UserName</td>
                <td><input type="checkbox" name="AumentarIds" value="@usuario.Id" /></td>
            </tr>
        }
    </table>

    <h2>Quitar a @Model.Rol.Name</h2>
    <table class="table table-sm table-bordered">
        @foreach (var usuario in Model.Miembros)
        {
            <tr>
                <td>@usuario.UserName</td>
                <td><input type="checkbox" name="QuitarIds" value="@usuario.Id" /></td>
            </tr>
        }
    </table>
    <input type="submit" class="btn btn-primary" value="Guardar" />
</form>
