@model IEnumerable<SCAME.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12 padding">
        <h1 class="h1 text-center text-strong ">País/ Provincia / Ciudad</h1>
        <br />

<table class="table table-responsive-sm table-hover">
                <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th>
                Provincias
            </th>
            <th>
                Ciudades
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td i-Provincia="@item.Id"></td>
            <td i-Canton="@item.Id"></td>
            <td> 
                <form asp-action="Details" asp-route-id="@item.Id">
                <input type="submit" value="Detalles" class="btn btn-info text-white col-md-4 mb-8"/>
                 </form>
            </td>
        </tr>
        }
    </tbody>
</table>
