@model SCAME.Models.Turno

@{
    ViewData["Title"] = "Details";
}
<br/>
<br/>
<br/>
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Detalle del Turno </h1>
      <br/>
      <h2>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultorio.IdConsultorio)
        </dd>
    </dl>
      <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-get-started scrollto">Editar</a> 
     <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
</div>
</h2>
 </div>
  </section>
