@model IEnumerable<SCAME.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12 mb-5">

<h1 class="h1 text-center text-strong padding">Lista de turnos</h1>

    <a asp-action="Create" class="btn btn-secondary text-white col-md-1 mb-2">Ingresar nuevo Turno</a>

    <table class="table table-responsive-sm table-hover ">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
             <th>Acciones</th>
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-white">Editar</a> 
                </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white">Detalles</a> 
               </td>
               <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
