@page
@model LoginModel

@{
    ViewData["Title"] = "Ingresar";
}


<br />
<br />
<br />
<section id="login" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col -sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form id="account" method="post">
                                <i class="icon-user_male text-size-30 text-dark"></i>
                                <h4 class="h3 mt-3">Iniciar sesión</h4>
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Ingresar</button>
                                    </div>
                                    <div class="text-padding-small section-small-padding">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">¿Ólvidaste tu contraseña?</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un usuario nuevo</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Enviar cofirmación de email</a>
                                        </p>
                                    </div>
                            </form>
                            <div class="h5 text-padding-small section-top-small-padding section-small-padding text-center">
                                    <p>Tambien puedes ingresar con:</p>

                                    @{
                                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                        {
                                            <div>
                                                <p>
                                                    Fuera de servicio
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins)
                                                        {
                                                            <button type="submit" class="btn btn-primary " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}