@model IEnumerable<SCAME.Models.Especialidad>

@{
    ViewData["Title"] = "Especilidades";
}
    <div class="col-md-12 padding ">
        <h1 class="h1 text-center text-strong ">Administrador de Especialidades</h1>
        <br />
        <p>
            <a asp-action="Create" class="btn btn-secondary text-white col-md-1 mb-2">Crear Especialidad</a>
        </p>
        <table class="table table-responsive-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        Nombre Especialidad
                    </th>
                    <th>
                    </th>
                    <th>
                    Acciones
                    </th>
                       <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEspecialidad)
                        </td>
                        <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-white col-md-4 mb-8">Editar</a> 
                 </td>   
            <td>
            <form asp-action="Details" asp-route-id="@item.Id">
            <input type="submit" value="Detalles" class="btn btn-info text-white col-md-4 mb-8"/>
            </form>
            </td>
                 <td>      
            <form asp-action="Delete" asp-route-id="@item.Id">
            <input type="submit" value="Eliminar" class="btn btn-danger text-white col-md-4 mb-8"/>
            </form>
                </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>